<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card *ngFor="let weathercast of list">
    
    <ion-card-header>
    <ion-card-subtitle>{{weathercast.dt}}</ion-card-subtitle>
    <ion-card-title>{{weathercast.main}}</ion-card-title>
    <ion-item>{{weathercast.clouds}}</ion-item>
 </ion-card-header>

 <ion-card-content>{{weathercast.snow}}</ion-card-content>
</ion-card>

</ion-content>
